Cloud/nodered.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1","disabled":false},{"id":"1c9f8b20.d89465","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cumhurahmo","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":674,"y":116,"wires":[["65ebce92.44947","d75c4bf2.daa3d8","125c8b1e.c9dd35","4c56b513.5fd83c"]]},{"id":"65ebce92.44947","type":"function","z":"deb0d57.1c46528","name":"temp1","func":"msg.temp2 = msg.payload.d.Temp2+50;\nreturn msg;\n","outputs":1,"noerr":0,"x":833.9999885559082,"y":156.00000190734863,"wires":[["376a3c09.e7e044","1f03ff98.200e","720dde90.e1742"]]},{"id":"d75c4bf2.daa3d8","type":"function","z":"deb0d57.1c46528","name":"temp2","func":"msg.temp2 = msg.payload.d.Temp2;\nreturn msg;\n","outputs":1,"noerr":0,"x":830.9000587463379,"y":212.00000190734863,"wires":[["376a3c09.e7e044","1f03ff98.200e","69da8c7f.bd5a6c"]]},{"id":"125c8b1e.c9dd35","type":"function","z":"deb0d57.1c46528","name":"temp3","func":"msg.temp3 = msg.payload.d.Temp3;\nreturn msg;\n","outputs":1,"noerr":0,"x":830.9000587463379,"y":267.00000381469727,"wires":[["376a3c09.e7e044","1f03ff98.200e","1752bf83.25174"]]},{"id":"4c56b513.5fd83c","type":"function","z":"deb0d57.1c46528","name":"temp4","func":"msg.temp4 = msg.payload.d.Temp4;\nreturn msg;\n","outputs":1,"noerr":0,"x":829.9000854492188,"y":328,"wires":[["376a3c09.e7e044","1f03ff98.200e","c5f7d6eb.4088d8","116cfe4d.f8367a"]]},{"id":"376a3c09.e7e044","type":"function","z":"deb0d57.1c46528","name":"findmax","func":"// store pid/temperature in flow context\nif (msg.hasOwnProperty(\"temp1\")) {\n    flow.set('temp1', msg.temp1);\n} else if (msg.hasOwnProperty(\"temp2\")) {\n   flow.set('temp2', msg.temp2);\n} else if (msg.hasOwnProperty(\"temp3\")) {\n   flow.set('temp3', msg.temp3);\n} else if (msg.hasOwnProperty(\"temp4\")) {\n   flow.set('temp4', msg.temp4);\n}\nvar den1;\nvar den2;\nvar max;\n\n// get the latest values of pid/temperature from context - default to 0 if not yet set\nvar temp1 = flow.get('temp1') || 0;\nvar temp2 = flow.get('temp2') || 0;\nvar temp3 = flow.get('temp3') || 0;\nvar temp4 = flow.get('temp4') || 0;\nif(temp1>temp2){\n    den1=temp1;\n}else{\n    den1=temp2;\n}\nif(temp3>temp4){\n    den2=temp3;\n}else{\n    den2=temp4;\n}\nif(den1>den2){\n    max=den1;\n}else{\n    max=den2;\n}\nmsg.payload = max;\nreturn msg","outputs":1,"noerr":0,"x":1275.0001831054688,"y":1027.0000610351562,"wires":[["a844bb47.83c298","74f0bc47.291274"]]},{"id":"a844bb47.83c298","type":"switch","z":"deb0d57.1c46528","name":"overheat_control","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"templim","vt":"flow","v2":"70","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1454.0001831054688,"y":1509,"wires":[["4fffc5a2.521adc","919d3f44.3f7e","a845824c.4b315"]]},{"id":"4fffc5a2.521adc","type":"function","z":"deb0d57.1c46528","name":"restart","func":"var dateobj = new Date()\nnowdate = dateobj.getTime()\noverheatdate = flow.get('overheatdate') || nowdate \nif((nowdate-overheatdate)>1200000){\nflow.set('smssent',0)\nflow.set('overheat',0)\n}\n\n","outputs":1,"noerr":0,"x":1832.0001220703125,"y":1666,"wires":[[]]},{"id":"497c715e.457c7","type":"inject","z":"deb0d57.1c46528","name":"Reset Overheat Date","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":212.00006103515625,"wires":[["a244a349.ebe52"]]},{"id":"a244a349.ebe52","type":"function","z":"deb0d57.1c46528","name":"overheat_date_set_for_beginning","func":"var dateobj = new Date();\nvar overheatdate = dateobj.getTime() - 1200000;\nflow.set('overheatdate',overheatdate)\nflow.set('brokendate',overheatdate)\nflow.set('brokendate_2',overheatdate)\n\n\n","outputs":1,"noerr":0,"x":514,"y":295.00006103515625,"wires":[[]]},{"id":"5e2bb36a.c7fddc","type":"function","z":"deb0d57.1c46528","name":"templim_set","func":"flow.set('templim',25)\n\n","outputs":1,"noerr":0,"x":444.0000305175781,"y":380.0001220703125,"wires":[[]]},{"id":"afdb58a7.b891e8","type":"inject","z":"deb0d57.1c46528","name":"Set Temperature Limit to 25","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":161.99998474121094,"y":299.0000915527344,"wires":[["5e2bb36a.c7fddc"]]},{"id":"919d3f44.3f7e","type":"function","z":"deb0d57.1c46528","name":"overheat_trigger","func":"if(msg.payload>20 && msg.payload<75){\n    over_heat_duration = \n    flow.get('over_heat_duration') || 0 \n    var overheat = flow.get('overheat')\n    var dateobj1 = new Date();\n    var nowdate = dateobj1.getTime();\n    var overheatdate1 = flow.get('overheatdate') \n    if(overheat === 0){\n        flow.set('overheat',1)\n        var dateobj = new Date();\n        var overheatdate = dateobj.getTime();\n        flow.set('overheatdate',overheatdate)\n        flow.set('over_heat_duration', 0);\n    }\n    else if(overheat === 1 &&\n        nowdate < overheatdate1+30000 ){\n        over_heat_duration=over_heat_duration+1;\n        flow.set('over_heat_duration', over_heat_duration);\n        msg.payload = 100+over_heat_duration;\n    }\n    else if(overheat === 1 &&\n        nowdate > overheatdate1+30000 &&\n        over_heat_duration>8*4){\n            msg.payload = msg.payload;\n            flow.set('over_heat_duration', 0);\n            return msg;\n    }\n    else if(overheat === 1 &&\n        nowdate > overheatdate1+30000 &&\n        over_heat_duration < 8*4){\n        flow.set('overheatdate',nowdate)\n        flow.set('over_heat_duration', 0);\n            msg.payload = over_heat_duration;\n    }\n    \n}\n","outputs":1,"noerr":0,"x":1822.0001220703125,"y":1438,"wires":[["9e0ac70.a51b638"]]},{"id":"9e0ac70.a51b638","type":"function","z":"deb0d57.1c46528","name":"sms_control","func":"var overheat = flow.get('overheat') || 0;\nvar smssent = flow.get('smssent') || 0;\n\nif(overheat === 1 && smssent === 0){\n    flow.set('smssent',1)\n    msg.payload = \"Boğaziçi Üniversitesi personelinin dikkatine: \\n UPS sisteminde aşırı ısınma meydana gelmiştir. İlgililerin en kısa sürede sistemi kontrol etmesi gerekmektedir.\"\n    return msg\n}\n\n\n","outputs":1,"noerr":0,"x":2188.000244140625,"y":1420,"wires":[["ece394b8.c8f198","2bf39532.7a4c82"]]},{"id":"a845824c.4b315","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1860.0001220703125,"y":1540,"wires":[]},{"id":"5f31c923.4d9248","type":"switch","z":"deb0d57.1c46528","name":"broken_control1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1489.0001220703125,"y":701,"wires":[["fdf194bc.4a28d8","16a0852f.94b34b"]]},{"id":"fdf194bc.4a28d8","type":"function","z":"deb0d57.1c46528","name":"broken_trigger","func":"if(msg.payload<-25){\n    var overheat_broken = flow.get('overheat_broken')\n    var dateobj1 = new Date();\n    var nowdate = dateobj1.getTime();\n    var brokendate1 = flow.get('brokendate')\n    broken_duration1=\n        flow.get('broken_duration1') || 0\n    if(overheat_broken === 0){\n        flow.set('overheat_broken',1)\n        var dateobj = new Date();\n        var brokendate = dateobj.getTime();\n        flow.set('brokendate',brokendate)\n        flow.set('broken_duration1', 0);\n    }\n    else if(overheat_broken === 1 &&\n        nowdate < brokendate1+30000 ){\n        broken_duration1=broken_duration1+1;\n        flow.set('broken_duration1', broken_duration1);\n    }\n    else if(overheat_broken === 1 &&\n        nowdate > brokendate1+30000 &&\n        broken_duration1>8*4){\n            msg.payload = msg.payload;\n            return msg;\n    }\n    else if(overheat_broken === 1 &&\n        nowdate > brokendate1+30000 &&\n        broken_duration1 < 8*4){\n        flow.set('brokendate',nowdate)\n        flow.set('broken_duration1', 0);\n    }\n    \n}","outputs":1,"noerr":0,"x":1840.0001220703125,"y":715,"wires":[["b50f50ca.b4363"]]},{"id":"16a0852f.94b34b","type":"function","z":"deb0d57.1c46528","name":"restart_broken","func":"var dateobj = new Date()\nnowdate = dateobj.getTime()\nbrokendate_1 = flow.get('brokendate') || nowdate \nif((nowdate-brokendate_1)>1200000){\nflow.set('smssent1',0)\nflow.set('overheat_broken',0)\n}\n\n","outputs":1,"noerr":0,"x":1848.0001220703125,"y":812,"wires":[[]]},{"id":"b50f50ca.b4363","type":"function","z":"deb0d57.1c46528","name":"sms_control1","func":"var overheat_broken = flow.get('overheat_broken') || 0;\nvar smssent1 = flow.get('smssent1') || 0;\n\nif(overheat_broken === 1 && smssent1 === 0){\n    flow.set('smssent1',1)\n    msg.payload = \"Boğaziçi Üniversitesi personelinin dikkatine: \\n UPS sisteminde sensörlerde hata görülmüştür. İlgililerin en kısa sürede sistemi ve sensörleri kontrol etmesi gerekmektedir.\"\n    return msg\n}\n\n\n","outputs":1,"noerr":0,"x":2145.000244140625,"y":678,"wires":[["b4bb5f2c.739fa","73cbf93c.5468b8"]]},{"id":"1f03ff98.200e","type":"function","z":"deb0d57.1c46528","name":"findmin","func":"// store pid/temperature in flow context\nif (msg.hasOwnProperty(\"temp1\")) {\n    flow.set('temp1', msg.temp1);\n} else if (msg.hasOwnProperty(\"temp2\")) {\n   flow.set('temp2', msg.temp2);\n} else if (msg.hasOwnProperty(\"temp3\")) {\n   flow.set('temp3', msg.temp3);\n} else if (msg.hasOwnProperty(\"temp4\")) {\n   flow.set('temp4', msg.temp4);\n}\nvar den1;\nvar den2;\nvar min;\n\n// get the latest values of pid/temperature from context - default to 0 if not yet set\nvar temp1 = flow.get('temp1') || 0;\nvar temp2 = flow.get('temp2') || 0;\nvar temp3 = flow.get('temp3') || 0;\nvar temp4 = flow.get('temp4') || 0;\nif(temp1<temp2){\n    den1=temp1;\n}else{\n    den1=temp2;\n}\nif(temp3<temp4){\n    den2=temp3;\n}else{\n    den2=temp4;\n}\nif(den1<den2){\n    min=den1;\n}else{\n    min=den2;\n}\nmsg.payload = min;\nreturn msg","outputs":1,"noerr":0,"x":1278.0001220703125,"y":638.0000076293945,"wires":[["5f31c923.4d9248"]]},{"id":"74f0bc47.291274","type":"switch","z":"deb0d57.1c46528","name":"broken_control2","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1491.000244140625,"y":1158,"wires":[["a2e7c2ef.6fa9","677569ae.4d96f8"]]},{"id":"a2e7c2ef.6fa9","type":"function","z":"deb0d57.1c46528","name":"broken_trigger2","func":"if(msg.payload>70){\n    var overheat_broken_2 = flow.get('overheat_broken_2')\n    var dateobj1 = new Date();\n    var nowdate = dateobj1.getTime();\n    var brokendate1 = flow.get('brokendate_2')\n    broken_duration2=\n        flow.get('broken_duration2') || 0\n    if(overheat_broken_2 === 0){\n        flow.set('overheat_broken_2',1)\n        var dateobj = new Date();\n        var brokendate_2 = dateobj.getTime();\n        flow.set('brokendate_2',brokendate_2)\n        flow.set('broken_duration2', 0);\n    }\n    else if(overheat_broken_2 === 1 &&\n        nowdate < brokendate1+30000 ){\n        broken_duration2=broken_duration2+1;\n        flow.set('broken_duration2', broken_duration2);\n    }\n    else if(overheat_broken_2 === 1 &&\n        nowdate > brokendate1+30000 &&\n        broken_duration2>8*4){\n            msg.payload = msg.payload;\n            return msg;\n    }\n    else if(overheat_broken_2 === 1 &&\n        nowdate > brokendate1+30000 &&\n        broken_duration2 < 8*4){\n        flow.set('brokendate_2',nowdate)\n        flow.set('broken_duration2', 0);\n    }\n    \n}","outputs":1,"noerr":0,"x":1841.0001220703125,"y":1080,"wires":[["b9b94953.6995d8"]]},{"id":"677569ae.4d96f8","type":"function","z":"deb0d57.1c46528","name":"restart_broken2","func":"var dateobj = new Date()\nnowdate = dateobj.getTime()\nbrokendate_2 = flow.get('brokendate_2') || nowdate \nif((nowdate-brokendate_2)>1200000){\nflow.set('smssent2',0)\nflow.set('overheat_broken_2',0)\n}\n\n","outputs":1,"noerr":0,"x":1854.0001220703125,"y":1218,"wires":[[]]},{"id":"b9b94953.6995d8","type":"function","z":"deb0d57.1c46528","name":"sms_control2","func":"var overheat_broken_2 = flow.get('overheat_broken_2') || 0;\nvar smssent2 = flow.get('smssent2') || 0;\n\nif(overheat_broken_2 === 1 && smssent2 === 0){\n    flow.set('smssent2',1)\n    msg.payload = \"Boğaziçi Üniversitesi personelinin dikkatine: \\n UPS sisteminde sensörlerde anı ısı artışı görülmüştür. İlgililerin en kısa sürede sistemi ve sensörleri kontrol etmesi gerekmektedir.\"\n    return msg\n}\n\n\n","outputs":1,"noerr":0,"x":2142.0001220703125,"y":1078,"wires":[["5fd0de6e.1f4428"]]},{"id":"b4bb5f2c.739fa","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2398.0001182556152,"y":692.9999713897705,"wires":[]},{"id":"ece394b8.c8f198","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2451.0001220703125,"y":1482.0000610351562,"wires":[]},{"id":"c5f7d6eb.4088d8","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1292.9000244140625,"y":438.79998779296875,"wires":[]},{"id":"2afcba4c.d81aae","type":"inject","z":"deb0d57.1c46528","name":"Reboot","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":1804,"wires":[["ad542471.f91ba"]]},{"id":"ad542471.f91ba","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"cumhurahmo","deviceType":"0.20.5","eventCommandType":"blink","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":332.2666015625,"y":1879.3499755859375,"wires":[]},{"id":"6b732ae7.19adbc","type":"comment","z":"deb0d57.1c46528","name":"Admin Guide: Readme","info":"Please use the below nodes to make configurations\nsuch as setting temperature limits, rebooting or \nresetting overheat date.\n\nYou can click the buttons on the nodes to save your\nconfigurations. \n\nYou can configure the function \n\"templim_set\" for setting the temperature limit.\n\n","x":150.83335876464844,"y":121.66668701171875,"wires":[]},{"id":"c28c0c12.622d18","type":"comment","z":"deb0d57.1c46528","name":"Click to watch sensor values live","info":"Go to this link:\n\nhttps://cmpe490project.eu-gb.mybluemix.net/ui/#!/0?socketid=TX3JdXXhgI4pL0jnAAAH\n","x":398.88336181640625,"y":123.88333129882812,"wires":[]},{"id":"720dde90.e1742","type":"function","z":"deb0d57.1c46528","name":"temp1gaugeval","func":"msg.payload = msg.temp1;\nreturn msg;\n","outputs":1,"noerr":0,"x":1012.2332916259766,"y":148.88332748413086,"wires":[["43480d43.de111c","c5d660e7.6ebb3"]]},{"id":"69da8c7f.bd5a6c","type":"function","z":"deb0d57.1c46528","name":"temp2gaugeval","func":"msg.payload = msg.temp2+50.23;\nreturn msg;\n","outputs":1,"noerr":0,"x":1003.1332740783691,"y":211.8833351135254,"wires":[["a7cf9ce0.bdba1","fd5142ef.a5335"]]},{"id":"1752bf83.25174","type":"function","z":"deb0d57.1c46528","name":"temp3gaugeval","func":"msg.payload = msg.temp3+55.02;\nreturn msg;\n","outputs":1,"noerr":0,"x":1013.2332763671875,"y":285.8833312988281,"wires":[["ea626b62.6a01f8","c0fb84e3.454bf8"]]},{"id":"116cfe4d.f8367a","type":"function","z":"deb0d57.1c46528","name":"temp4gaugeval","func":"msg.payload = msg.temp4+51.06;\nreturn msg;\n","outputs":1,"noerr":0,"x":1014.2332763671875,"y":356.8833312988281,"wires":[["3875aa57.f157b6","490b4cab.9b14bc"]]},{"id":"5fd0de6e.1f4428","type":"twilio out","z":"deb0d57.1c46528","service":"_ext_","twilio":"c324dc6a.a36148","from":"+18008090700","number":"+905998887766","name":"send_sms","x":2399.833251953125,"y":1083.3333740234375,"wires":[]},{"id":"2bf39532.7a4c82","type":"twilio out","z":"deb0d57.1c46528","service":"_ext_","twilio":"c324dc6a.a36148","from":"+18008090700","number":"+905998887766","name":"send_sms","x":2380.33349609375,"y":1607.666748046875,"wires":[]},{"id":"73cbf93c.5468b8","type":"twilio out","z":"deb0d57.1c46528","service":"_ext_","twilio":"c324dc6a.a36148","from":"+18008090700","number":"+905998887766","name":"send_sms","x":2385.33349609375,"y":755.6666259765625,"wires":[]},{"id":"947ac9df.ac2d38","type":"inject","z":"deb0d57.1c46528","name":"Set Temperature Limit to 30","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":162.76666259765625,"y":379.8833312988281,"wires":[["b973941.deaa7e8"]]},{"id":"b973941.deaa7e8","type":"function","z":"deb0d57.1c46528","name":"templim_set","func":"flow.set('templim',30)\n\n","outputs":1,"noerr":0,"x":449.7666320800781,"y":466.8833312988281,"wires":[[]]},{"id":"660b6bb8.b0efec","type":"inject","z":"deb0d57.1c46528","name":"Set Temperature Limit to 50","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166.76666259765625,"y":479.8833312988281,"wires":[["fc40932f.d7434"]]},{"id":"fc40932f.d7434","type":"function","z":"deb0d57.1c46528","name":"templim_set","func":"flow.set('templim',50)\n\n","outputs":1,"noerr":0,"x":446.76666259765625,"y":557.88330078125,"wires":[[]]},{"id":"c5d660e7.6ebb3","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":4,"width":0,"height":0,"label":"temp1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"90","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1339.199951171875,"y":126.88333129882812,"wires":[[]]},{"id":"fd5142ef.a5335","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":4,"width":0,"height":0,"label":"temp2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1357.199951171875,"y":222.88333129882812,"wires":[[]]},{"id":"c0fb84e3.454bf8","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":4,"width":0,"height":0,"label":"temp3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1349.199951171875,"y":287.8833312988281,"wires":[[]]},{"id":"490b4cab.9b14bc","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":4,"width":0,"height":0,"label":"temp4","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1351.199951171875,"y":348.8833312988281,"wires":[[]]},{"id":"43480d43.de111c","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":1,"width":0,"height":0,"gtype":"gage","title":"temp1","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1193.2332763671875,"y":137.88333129882812,"wires":[]},{"id":"a7cf9ce0.bdba1","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":2,"width":0,"height":0,"gtype":"gage","title":"temp2","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1201.2332763671875,"y":197.88333129882812,"wires":[]},{"id":"ea626b62.6a01f8","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":0,"width":0,"height":0,"gtype":"gage","title":"temp3","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1204.333251953125,"y":266.8833312988281,"wires":[]},{"id":"3875aa57.f157b6","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"83415eff.84ba1","order":0,"width":0,"height":0,"gtype":"gage","title":"temp4","label":"units","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1213.3332443237305,"y":333.88332748413086,"wires":[]},{"id":"c324dc6a.a36148","type":"twilio-api","z":"","sid":"AC3d04d00fe974a13736771ee7fcde38fc","from":"+18508098713","name":"Wololoo"},{"id":"83415eff.84ba1","type":"ui_group","z":0,"name":"sensors","tab":"5d18d311.f0580c","disp":true,"width":"6","collapse":false},{"id":"5d18d311.f0580c","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
